.navigation{
text-align: center;
color: black;
background-color: bisque;
font-size: large;
display: flex;
justify-content: space-between;
padding-right: 2px;
padding: 5px;
align-items: center;
}

.accueil{
    text-decoration: none;
}

.propos, .service, .realisations, .competences, .blog{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}
.presentation{
    background-color: rgb(207, 204, 209);
    display: flex;
    font-size: larger;
    padding-bottom: 80px;
    padding-top: 10px;
}
.moi{
    align-items: center;
    background-color: rgb(37, 72, 87);
    padding-bottom: 80px;
    padding-top: 10px;
    text-align: center;
}

.image{
    margin-top: 50px;
    margin-right: 70x;
    margin-bottom: 50px;
    margin-left: 300px;
    height: 10px; 
}
.cours{
    align-items: center;
    margin-left: 100px;
}

button{
    font-size: large;
    background-color: blue;
    border-radius: 5px;

}

.choc{
    display: flex;
    align-items: center;
    margin-left: 350px;
    gap: 40px;
    font-size: 25px;

    
}



.cervo{
    text-align: center;
    display: flex;
    
}
.boimage{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.loume{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 80px;
    padding-bottom: 80px;
    padding-top: 10px;
   

}

.mavie{
   align-items: center;
    background-color: rgb(8, 201, 250);
    padding-bottom: 80px;
    padding-top: 10px;
    text-align: center;
}


.competences{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 80px;
    padding-top: 3px;
    font-size: large;
     border-top: 2px solid red;
}

.barre{
    font-size: large;
    margin: 10px 0;
    margin-right: 200px;
}
.container{
    width: 100%;
    background-color: #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.skills{
    text-align: right;
    padding: 10px 0;
    padding-right: 20px;
}

.barre_progression{
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    background-color: #5483b3;
} 

.web{
    width: 75%;
    background-color: #04aa6d;
    animation: animation1 3s ease-in-out forwards;
}
@keyframes animation1{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 75%;
    }
}

.mobile{
    width: 70%;
    background-color: #2196f3;
    animation: animation2 3s ease-in-out forwards;
}
@keyframes animation2{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 70%;
    }
}

.formation{
    width: 65%;
    background-color: #f44336;
    animation: animation3 3s ease-in-out forwards;
}
@keyframes animation3{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 65%;
    }
}

.création{
    width: 55%;
    background-color: yellow;
    animation: animation4 3s ease-in-out forwards;
}
@keyframes animation4{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 55%;
    }
}



 

.boutton{
    padding: 12px 24px;
    background-color: rgb(15, 176, 88);
    color: white;
    border: 0px;
    border-radius: 12px;
   }

   .button{
    padding: 12px 24px;
    background-color: rgb(19, 18, 18);
    border: 0px;
    border-radius: 12px;
    color: white;
   }
.disc{
    margin-right: 70px;
    border-radius: 10PX;
}

.moi{
    margin-left: 100px;
    background-color: rgb(45, 51, 66);
    color: white;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 2px solid red;
}

.image{
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 300px;
    justify-content: space-between;
}


.nav{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

#name{
    color: blueviolet;
}

.créative{
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 100%;
    font-size: large;
    background-color: rgb(53, 66, 77);
    color: rgb(214, 189, 76);
    border: 2px solid #4c8;

}

.projet{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}



.icone{
    display: flex;
    justify-content: space-around;
    color: blueviolet;
}

.témoignage{
    background-color: rgb(132, 202, 202);
    margin-left: 30px;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-right: 30px;
    border-top: 2px solid yellow;

}

.titre{
    display: flex;
    justify-content: center;
    gap: 10px;
}

span{
    font-weight: bold;
}

.menu-hover{
    display: flex;
    justify-content: space-around;
}

.cordonnés{
    display: flex;
    gap: 15px;
    margin-left: 80px;
}

#contact{
    margin-left: 80px;
     
}

.contact{
    background-color: rgb(238, 229, 214);
    margin-left: 30px;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-right: 30px;
    border-top: 2px solid red;
   
}

footer{
     height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #C5C5C5;
    border-top: 2px solid #1c11b8;
    margin-left: 30px;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-right: 30px;
}


.barre{
    font-size: large;
    margin: 10px 0;
    margin-right: 200px;
}
.container{
    width: 100%;
    background-color: #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.skills{
    text-align: right;
    padding: 10px 0;
    padding-right: 20px;
}

.barre_progression{
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    background-color: #5483b3;
} 

.web{
    width: 75%;
    background-color: #04aa6d;
    animation: animation1 3s ease-in-out forwards;
}
@keyframes animation1{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 75%;
    }
}

.mobile{
    width: 70%;
    background-color: #2196f3;
    animation: animation2 3s ease-in-out forwards;
}
@keyframes animation2{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 70%;
    }
}

.formation{
    width: 65%;
    background-color: #f44336;
    animation: animation3 3s ease-in-out forwards;
}
@keyframes animation3{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 65%;
    }
}

.création{
    width: 55%;
    background-color: yellow;
    animation: animation4 3s ease-in-out forwards;
}
@keyframes animation4{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 55%;
    }
}


 



